apiVersion: v1
kind: Service
metadata:
  name: {{ include "cert-guardian.fullname" . }}-backend
  labels:
    {{- include "cert-guardian.labels" . | nindent 4 }}
    app.kubernetes.io/component: backend
  {{- if .Values.metrics.enabled }}
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "8000"
    prometheus.io/path: "/metrics"
  {{- end }}
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 8000
      targetPort: http
      protocol: TCP
  selector:
    {{- include "cert-guardian.backendSelectorLabels" . | nindent 4 }}
