apiVersion: v1
kind: Service
metadata:
  name: {{ include "cert-guardian.fullname" . }}-frontend
  labels:
    {{- include "cert-guardian.labels" . | nindent 4 }}
    app.kubernetes.io/component: frontend
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 80
      targetPort: http
      protocol: TCP
    {{- if .Values.frontendTls.enabled }}
    - name: https
      port: 443
      targetPort: https
      protocol: TCP
    {{- end }}
  selector:
    {{- include "cert-guardian.frontendSelectorLabels" . | nindent 4 }}
